
# Database url, here I used sqlite, which will change later
SQLALCHEMY_DATABASE_URL = sqlite:///./sqlite.db

# the secret key used by jwt 
SECRET_KEY = some_random_string

# The name of the algorithm used for making jwt signature 
ALGORITHM = HS256

# the expire time of the tokens in minutes
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_MINUTES = 1440